<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
<add key="SMTP-IP" value="127.0.0.1"/>
    <add key="SMTP-DN" value="mail.donghaiair.cn"/>
    <add key="SMTP-LoginAccount" value="weizhewang@donghaiair.cn"/>
    <add key="SMTP-LoginPassWord" value="Sparta117!"/>
    <add key="SMTP-EnableSSL" value="true"/>
    <!-- 6 Day 12 Hour 14 Minute 45 Second 3448 MilliSecond -> 6.12:14:45.3448000-->
    <add key="AlarmTimeSpan" value="0.0:5:0.0"/>
  </appSettings>
</configuration>